@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Enable smooth scrolling */

}

/* common styles */
.primary {
    color: red;
}

.bg-primary {
    background: #e554731a;
}

h1,
h2,
h3,
h4 {
    color: #272727;
    font-weight: 800;
}

p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #27272799;
    font-size: 18px;
}

.btn {
    padding: 12px 20px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #de214a;
}
i{
    margin-right: 5px;
}
.btn i{
    margin-right: 8px;
}

.margin {
    width: 80%;
    margin: 130px auto;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.section-description {
    text-align: justify;
    width: 55%;
    margin: 24px auto;
}



/* navbar section */
.navbar {
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    top: 0; /* Align at the top */
    background-color: white; /* Background color to cover content behind */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar-logo h1 {
    color: #F74D4A;
    font-size: xx-large;
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: #272727;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.navbar a:hover {
    color: #E55473;
}

.nav-lastitem a {
    color: #E55473;
    border: 2px solid #E55473;
    border-radius: 7px;
    background-color: #e5547305;
    padding: 10px 25px;
    font-weight: 700;
}

.nav-lastitem a:hover {
    background-color: #e5547324;
}
.nav-lastitem a i{
    margin-right: 5px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: black; /* Ajusta el color según el estilo existente */
    margin: 4px 0;
    transition: 0.4s;
}

/* banner section */
.banner-section {
    background-color: #F7A4A4;
    padding-top: 0px; /* Added padding to prevent overlap with fixed navbar */

}

.banner-container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.banner-title {
    font-size: 50px;
    margin-bottom: 10px;
}

.banner-description {
    width: 90%;
    line-height: 30px;
}

.banner-img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: end;
}

.banner-img img {
    width: 450px;
}

/* feature section */


/*slider*/

.slider-wrapper {
    position: relative;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: .5rem;
}

.slide {
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide img {
    max-width: auto;
    max-height: 80%;
    border-radius: .5rem;
}

.slide-text .slide-text-t {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: black;
    
}

.slide-text-t{
    margin-bottom: 10px;
    font-size: 1.5rem; /* Larger font size */
    
}

.slide-text{
    margin: 10px 10px
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #828282;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}



/* service section */
.service-section {
    background-color: #2727270D;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 85px 100px;
    margin: 50px auto;
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box img {
    width: 88px;
    margin-top: 10px;
}

.service-box h4 {
    margin-top: 24px;
    font-weight: 600;
}



/* offer section */
.offer-section {
    background-color: #F7A4A4;
    padding: 80px 0;
    scroll-margin-top: 120px; 
}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.offer-content {
    text-align: center;
    width: 50%;
}

.offer-description {
    margin: 24px 0;
}

.offer-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-image img {
    width: 280px;
}

.offer-btn {
    margin: 10px 0;
}


/* Instagram Section */

.insta-gallery {
    max-width: 320px; /* Ancho máximo del contenedor */
    height: auto;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    overflow: hidde; /* Oculta el contenido que se desborda */
}

.instagram-iframe {
    width: 100%; /* Ajusta el ancho del iframe al 100% del contenedor */
    height: 440; /* Altura automática según el ancho */
    max-width: 100%; /* Establece el ancho máximo del iframe */
}


/* Newsletter section */
.newsletter{
    background: url("asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.submit-form input {
    width: 500px;
    padding: 12px 20px;
    background-color: white;
    color: #27272799;
    border: none;
    border-radius: 7px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
}
.submit-form input:focus-visible{
    outline: 2px solid #E55473;
}

/*prueba */

.bodyproduct{
    background-color: #f0f0f0;
}

.supermenu{
    width: 100%;
}

.flower-menu {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center; /* Center the products horizontally */
    margin-bottom: 30px;
}

.mainmenu h2 {
    text-align: center;
    margin-bottom: 10px;
}

#colorbackground{
    background-color: #F7A4A4;
    padding: 20px;
}

.responsive-menu{
    display: flex;
}

.mainmenu {
    align-items: center;
    width: 100%;
    margin-top: 30px;
    background-color: #f0f0f0;
}

.products-container {
    display: flex;
    justify-content: center; /* Centra los elementos en el contenedor */
    margin-bottom: 100px;
    max-width: 100%; 
    flex-direction: column;
}

.products-img {
    display: flex; /* Add flexbox */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    max-width: 100%;
    margin: 10px;
}

.products-img img {
    max-width: 100%; 
    width: 300px;
    height: 100%; /* Maintain aspect ratio */
    height: 300px;
    border-radius: 10%;
    display: block; /* Ensure image is a block element */
    box-sizing: border-box;
}

.menu-text {
    text-align: center;
    margin: 10px;
}

#newyear, #valentine, #popular, #spring, #whiteday, #top{
    scroll-margin-top: 120px; 

}

.shopping-menu h1{
    text-align: center;
    
}

.shopping-menu{
    margin-bottom: 20px;
}

/*products bar navigation*/

.headerproduct ul {
    margin: 0;
    padding: 0;
    list-style: none; 
  }
  
  .headerproduct a {
    color: #F74D4A;
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
    font-size: 1.45em;
}
.main-nav {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.logo a, .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.main-nav a {
    color: black;
    font-size: 10px;
}
.main-nav a:hover {
    color: #F74D4A;
}

/*About Us*/

.principalsection-1{
    background-image: url("asset/aboutus-image.jpg");
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative; /* Para posicionar el overlay */
}

.about-usbg {
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Aligns items in a column */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    text-align: center; /* Ensures text is centered */
}

.about-usbg h2 {
    text-transform: uppercase;
    font-size: 3.5em;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
    text-shadow: 2px 0 #000;
}

.about-usbg h3 {
    color: #000;
    margin-top: 20px;
}

.mainabout{
    margin-top: -50px;
    height: 100px;
    width: auto;
    align-content: center;
    margin-bottom: 20px;
    
}

.mainabout h3, h4{
    color: #000;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
}

.mainabout h4{
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.mainabout2{
    display: flex;
    width: 100%; /* Ajusta el ancho del contenedor en dispositivos móviles */
    text-align: justify;
    height: auto;
    margin-left: 0;
    align-items: center; /* Centra el contenido dentro del contenedor */
    padding: 0 20px; /* Añade espacio a los lados para evitar que el contenido esté pegado a los bordes */   
}

.aboutusimg{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: end;  
}

.aboutdescription{
    text-align: justify;
    max-width: 100%;
    padding: 0 20px; /* Añade espacio a los lados para evitar que el contenido esté pegado a los bordes */  
    padding: 100px;
}

.aboutusimg img{
   width: 450px; 
}

.important{
    color: red;
}

.storeinfo{
    margin-bottom: 30px;
}

.storetitle{
    display: flex;
    align-items: center;
}

.storetitle img{
    width: 50px;
}

.store-hours{
    margin-top: 14px;
    list-style: none;
    .store-hour{
      margin-bottom: 1px;
    }
    .day{
      float: left;
      width: 107px;
      font-weight: bold;
    }
  }

.firstinfo{
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Cambiar a fila si prefieres que los elementos estén en una fila */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto dentro de los elementos */
    padding: 20px; /* Añade algo de relleno alrededor del contenido */
}


/* Header Styles */
.headerproduct {
    margin-top: 100px;
    padding-top: .5em;  
    padding-bottom: .5em;
    background-color: #F7A4A4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-imagecontainer{
    display: flex;
}

/*scroll up*/
.scroll-top {
    height: 60px;
    width: 60px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    /* hover effect default */
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
    /* for centering the icon */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-top svg {
    width: 50%;
    color: black;
    pointer-events: none;
  }
  
  .scroll-top:hover {
    transform: scale(1);
  }



/*Payment Section*/

.paymentbackground{
    background-image: url("asset/aboutus-image.jpg");
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative; /* Para posicionar el overlay */
}

.titlepayment {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 150px auto;
}

.titlepayment h2 {
    margin-bottom: 20px;
    text-align: center;
}

.titlepayment p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: left;
    max-width: 800px;
}

.titlepayment h5{
    color: #de214a;
}

.titlepayment p span {
    display: block;
    margin-bottom: 10px;
}

.abcpayment {
    color: red;
    text-decoration: underline;
    font-size: 13px;
}

.bcpayment {
    font-weight: 600;
    color: #333;
}

.cdpayment {
    color: #BD1DC8;
    font-weight: 600;
}

.pp {
    font-size: 16px;
    color: #0056b3;
    font-weight: 600;
}

.repayment, .mnpayment {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

#flex-containerpayment {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.flex-item1payment, .flex-item2payment, .flex-item3payment, .flex-item4payment, .flex-item5payment {
    border-radius: 6px;
    margin: 6px;
    width: 50px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-item1payment {
    background-image: url('https://aoyamaflowermarket-en.square.site/static/icons/payment-methods/visa.svg');
}

.flex-item2payment {
    background-image: url('https://aoyamaflowermarket-en.square.site/static/icons/payment-methods/mastercard.svg');
}

.flex-item3payment {
    background-image: url('https://aoyamaflowermarket-en.square.site/static/icons/payment-methods/americanexpress.svg');
}

.flex-item4payment {
    background-image: url('https://aoyamaflowermarket-en.square.site/static/icons/payment-methods/jcb.svg');
}

.flex-item5payment {
    background-image: url('https://aoyamaflowermarket-en.square.site/static/icons/payment-methods/discover.svg');
}

.titlepayment h3{
    color: black;
    margin: 20px;
}

.img-order{
    width: 100px;
    height: 100px;
    
}

.orderdiv p{
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.orderdiv{
    text-align: center;
    margin: 20px;
}

/* Footer section */
footer{
    background-color: #111010;
    padding-top: 100px;
    color: white;
}
footer a, h3{
    color: white;
}
.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 24px;
    width: 70%;
    margin: 0 auto;
}
.footer-box{
    width: 25%;
}
.box-1{
    width: 38%;
    margin-right: 15px;
}
.footer-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 0;
}
.footer-logo img{
    width: 35px;
    margin-right: 10px;
}
.social-link{
    display: flex;
    align-items: center;
}
.social-link i{
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}
.social-link i:hover{
    color: #E55473;
}
.footer-box h3{
    font-size: 18px;
    margin: 20px 0;
}
.footer-box ul{
    list-style: none;
}
.footer-box ul li, a, p{
    font-size: 16px;
    margin: 5px 0;
}
.footer-box ul li a:hover{
    text-decoration: underline;
    color: #E55473;
}
.footer-title{
    color: white;
    font-size: 30px;
}
.footer-description{
    color: white;
    text-align: justify;
}

.copyright{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    color: #ffffff66;
    font-size: 16px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

/*For the form*/

.form-google{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #fff3f1;
    color: #333;
}

.form-container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fefefe;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.form-header{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.form-header h1{
    color: #e91e63;
}

iframe{
    width: 100%;
    height: 500px; /* Adjust height based on your form size */
    border: none;
}

@media (max-width: 768px) {

    .cat-menu{
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }

    .lateral-menu ul li{
        display: inline-block;
        margin-right: 20px; /* Espaciado entre elementos */
        
    }

    .lateral-menu ul{
        margin-top: 30px;
    }

    .lateral-menu li {
        position: relative;
    }

    .lateral-menu{
        margin-right: 10px;
    }

    .products-img img{
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 80%;
    }


    .products-container{
        flex-direction: column;
    }

    .responsive-menu{
        flex-wrap: wrap;
    }

    .navbar{
        justify-content: center;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        left: 0;
        position: absolute;
        top: 95px; /* Adjusted to prevent overlap with fixed navbar */
        background-color: white;
    }
    .navbar-menu ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-menu li {
        text-align: center;
        padding: 1rem;
        width: 100%;
    }
    .menu-icon {
        display: flex;
    }

    .banner-title {
        font-size: 30px;
        text-align: center;
    }

    .title18{
        text-align: center;
    }
    
    .banner-img img {
        max-width: 100%; /* Ensures the image is fully visible on small screens */
        height: auto; /* Maintains the aspect ratio of the image */
    }
    
    .banner-img, .aboutusimg {
        width: 100%; /* Makes the image take up the full width of the container */
        justify-content: center; /* Centers the image within the container */
        display: flex; /* Ensures justify-content works as expected */
    }
    
    .banner-container, .mainabout2 {
        display: flex;
        flex-direction: column; /* Cambia el orden de los elementos en pantallas pequeñas */
        width: 100%; /* Ajusta el ancho del contenedor en dispositivos móviles */
        text-align: justify;
        height: auto;
        margin-top: 90px;
        margin-left: 0;
        align-items: center; /* Centra el contenido dentro del contenedor */
        padding: 0 20px; /* Añade espacio a los lados para evitar que el contenido esté pegado a los bordes */
    }
    
    .banner-description, .aboutdescription {
        text-align: justify;
        width: 100%;
        padding: 0 20px; /* Añade espacio a los lados para evitar que el contenido esté pegado a los bordes */

    }
    
    .banner-section {
        padding: 50px 0; /* Añade espacio alrededor del banner */
        text-align: center; /* Centra el contenido */
    }
    
    .banner-content {
        width: auto;
        
    }
    
    .btn {
        text-align: center; /* Centrar el botón horizontalmente */
        margin: 20px auto; /* Ajustar el margen vertical y horizontal del botón */
        display: block; /* Cambiar el botón a un elemento de bloque para centrarlo correctamente */
    }

    .section-title{
        font-size: 30px;
        text-align: center;
    }

    .section-description{
        width: auto;
        margin-bottom: 0px;
    }

    .feature-section{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .service-section {
        flex-direction: column; /* Cambiar a disposición de columna en dispositivos móviles */
        padding: 50px 20px; /* Reducir el relleno en dispositivos móviles */
        margin: 20px auto; /* Ajustar el margen en dispositivos móviles */
    }

    .service-box {
        margin-bottom: 20px; /* Espacio entre los elementos en dispositivos móviles */
    }

    .service-box:last-child {
        margin-bottom: 0; /* Eliminar margen inferior del último elemento */
    }

    .offer-image img{
        max-width: 150%;
    }

    footer{
        padding-top: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
        width: 100%;
    }

    .footer-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .box-1 {
        width: 100%;
        margin-right: 0;
    }

    .social-link {
        justify-content: center;
    }

    .footer-logo {
        justify-content: center;
    }

    footer{
        margin-bottom: px;
    }

    .form-header{
        margin-top: 70px;
    }

    .form-container{
        margin-top: 80px;
    }

    .newsletter {
        background-size: 150%;
    }

    .submit-form input {
        margin-top: 20px; /* Reducción del espacio entre los campos de entrada */
        width: 100%;
    }

    .submit-form input:focus-visible {
        outline: 2px solid #E55473; /* Agrega un contorno visible en el enfoque */
    }

    .footer-description{
        text-align: center;
    }

    .mainabout2{
        display: flex;
    }
}
